@media all and (orientation: landscape) { div.info-text  { height: 55vh; } }
@media all and (orientation: portrait) { div.info-text  { height: 65vh; } }


p {
  margin: 0;
  padding: 0;
  height: available;
  text-align: left;
  font-size: clamp(0.8em, 2vw, 1.5rem);
}

div.info-text {
  align-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}

div.logos {
  margin-bottom: env(save-area-inset-bottom, 1rem)
}

img.single-logo {
  max-width: 50vw;
  max-height: 15vh;
}

img.double-logo {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
  max-height: 10vh;
}
