div.info-text {
  height: 65vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: larger;
}

img.single-logo {
  max-width: 50vw;
  max-height: 15vh;
}

img.double-logo {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 80vw;
  max-height: 10vh;
}
