<app-header title="Über diese App"></app-header>
<div class="info-text" fxLayoutAlign="center center">
  <p>
    Lalo ist ein Produkt des Bundesverbandes Alphabetisierung<br>
    und Grundbildung e.V. und des<br>
    Instituts für Gesellschaft und Digitales der FH Münster.<br>
    Lalo wird im Rahmen des Forschungsprojektes ALFA-Bot vom<br>
    Bundesministerium für Bildung und Forschung gefördert.<br>
    <br>
    Die einzelnen Bots orientieren sich an genehmigten Inhalten,<br>
    sind fachlich geprüft und auf die besonderen Bedingungen<br>
    eines Chatbots hin angepasst.<br>
    <br>
    Wenn du Fragen zu Lalo oder ALFA-Bot hast, wende dich gerne an:<br>
    <br>
    Bundesverband Alphabetisierung und Grundbildung e.V.<br>
    Berliner Platz 8-10, 48143 Münster<br/>
    Mail: bundesverband@alphabetisierung.de<br/>
    Telefon: 0251-49 09 96 0<br/>
    Projektwebseite: www.alfa-bot.de<br>
  </p>
</div>
<div class="logos" fxLayout="column" fxLayoutAlign="center center">
  <img alt="" class="single-logo" src="assets/images/bbf_logo.png">
  <img alt="" class="double-logo" src="assets/images/guf_bag_logo.png">
</div>
