ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

li {
  border-radius: 1rem;
  border: 0.15rem solid black;
  background-color: #42c3fe;
  padding: 1rem;
  margin: 1rem;
  max-width: fit-content;
}

img {
  padding: 1rem;
  max-width: 70vw;
}

div.container{
  background-color: lightgray;
}

