@font-face {
  font-family: "SemikolonPlus";
  src: local("SemikolonPlus"), url("SemikolonPlus/SemikolonPlus.ttf") format("truetype");
}
@font-face {
  font-family: "SemikolonPlusBold";
  src: local("SemikolonPlusBold"), url("SemikolonPlus/SemikolonPlusBold.ttf") format("truetype");
}
