div {
  padding: 0;
}
// Override the position and size of the textarea, because of automatic restyling from material
@media only screen and (max-width: 599px) {
  .chat {
    top: 56px !important;
    height: calc(100% - 132px) !important;
  }
}

.chat {
  list-style: none;
  background: none;
  width: 100%;
  // Remove automatically added left margin
  padding-inline-start: 0 !important;
}

.chat li {
  overflow: hidden;
  display: flex;
}

.bot-response {
  direction: ltr;
}

.user-message {
  direction: rtl;
}

.message-list {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
