@media screen and (max-width: 368px) {
  mat-toolbar {
    justify-content: flex-end !important;
  }
}

mat-toolbar {
  padding-top: calc(env(safe-area-inset-top) + 2.5rem);
  padding-right: env(safe-area-inset-right);
  padding-bottom: 2.5rem;
  background: #FFFFFF !important;
}

mat-toolbar-row {
  padding: 0;
}

button {
  color: #1C5475;
  position: absolute;
  left: 0;
  height: fit-content !important;
}

span.nav-element {
  color: #1C5475;
  font-size: clamp(3em, 6vw, 3.5em);
}

span.title {
  color: #000000;
}

div.nav-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

