mat-toolbar {
  padding-top: calc(env(safe-area-inset-top) + 2.5rem);
  padding-bottom: 2.5rem;
  background: #FFFFFF !important;
}

mat-toolbar-row {
  padding: 0;
}

button {
  color: #1C5475;
  height: fit-content !important;
  border: 0;
}

span.nav-element {
  color: #1C5475;
  font-size: 3em;
}

div.title {
  color: #000000;
}

div.nav-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

