<app-header title="Einstellungen"></app-header>
<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <mat-icon fontIcon="text_to_speech"></mat-icon>
  <mat-label>Vorlesegeschwindigkeit</mat-label>
  <div class="setting" fxLayout="row">
    <span class="material-symbols-outlined">play_arrow</span>
    <mat-slider max="1.2" min="0.5" step="0.1">
      <input #playbackSpeed (change)="emitPlaybackSpeedChange(playbackSpeed.valueAsNumber)" matSliderThumb
             value="{{settingService.playbackSpeed}}">
    </mat-slider>
    <span class="material-symbols-outlined">fast_forward</span>
  </div>
  <mat-label>Textgröße</mat-label>
  <div class="setting" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="material-symbols-outlined">text_decrease</span>
    <mat-slider max="24" min="12" step="1">
      <input #fontSize (change)="emitFontSizeChange(fontSize.valueAsNumber)" matSliderThumb
             value="{{settingService.fontSize}}">
    </mat-slider>
    <span class="material-symbols-outlined">text_increase</span>
  </div>
  <div class="text-font-size">So groß ist der Text im Chat.</div>
  <div class="button-font-size">So groß ist der Text der Buttons.</div>
</div>
