span.material-symbols-outlined {
  font-size: 3rem;
  width: fit-content;
  color: #1C5475;
}

mat-slider {
  width: 40% !important;
}

// Override the padding of the row, because of incorrect padding of slider
.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
