<div class="background" fxFlexFill fxLayoutAlign="start center" fxLayout="column">
    <app-menu-header></app-menu-header>
    <div class="title">
      <span>{{carousel.chatBots[carousel.index].name}}</span>
      <button (click)="textToSpeechService.toggleSpeaking(carousel.chatBots[carousel.index].name);" aria-label="speak message" class="speaker-button"
              color="accent" mat-flat-button>
        <span class="material-symbols-outlined">text_to_speech</span></button>
    </div>
  <div class="menu" fxLayout="column" fxLayoutAlign="center center">
  <app-carousel #carousel></app-carousel>
    <div class="sub-menu" fxLayout="column" fxLayoutAlign="end center">
      <mat-card appearance="outlined" fxLayout="row" fxLayoutAlign="space-between center" routerLink="/settings">
        <mat-icon class="not-inside-button" fontSet="material-symbols-outlined" inline="true">settings</mat-icon>
        <mat-card-title>Einstellungen</mat-card-title>
        <button (click)="textToSpeechService.toggleSpeaking('Einstellungen'); $event.stopPropagation()" aria-label="speak message" class="speaker-button"
                color="accent" mat-icon-button>
          <mat-icon fontSet="material-symbols-outlined" inline="true">text_to_speech</mat-icon>
        </button>
      </mat-card>
      <mat-card appearance="outlined" fxLayout="row" fxLayoutAlign="space-between center" routerLink="/info">
        <mat-icon class="not-inside-button" fontSet="material-symbols-outlined" inline="true">info</mat-icon>
        <mat-card-title>Über diese App</mat-card-title>
        <button (click)="textToSpeechService.toggleSpeaking('Über diese App'); $event.stopPropagation()" aria-label="speak message" class="speaker-button"
                color="accent"
                mat-icon-button>
          <mat-icon fontSet="material-symbols-outlined" inline="true">text_to_speech</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>


