@media all { mat-card,  mat-card.sub-menu  { width: 80vw; max-width: 80vw; } }
@media all and (min-width: 500px)  { mat-card,  mat-card.sub-menu  { width: 65vw; max-width: 65vw; } }
@media all and (min-width: 800px)  { mat-card, mat-card.sub-menu  { width: 60vw; max-width: 60vw; } }
@media all and (min-width: 900px)  { mat-card, mat-card.sub-menu  { width: 55vw; max-width: 55vw; } }
@media all and (min-width: 1300px)  { mat-card, mat-card.sub-menu  { width: 45vw; max-width: 45vw; } }


div.container{
  background-color: #F1F2F2;
  height: available;
}

div.title {
  max-height: 7vh;
  min-height: fit-content;
}

div.title div{
  width: 15vw;
  margin: 0;
  justify-content: space-between;
  text-align: center;
  align-self: flex-end;
  max-width: available;
}

div.sub-menu {
  margin-top: 2vh
}

div.sub-title {
  max-height: 10vh;
  min-height: fit-content;
  max-width: available;
}

mat-card {
  padding: 0.25em;
  border-radius: 1.5em;
  background-color: #96bee4;
  cursor: pointer;
  max-width: fit-content;
}

img {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  max-height: 40vh;
  max-width: 100%;
}

mat-card.sub-menu {
  min-height: fit-content;
  padding: 0.5em 0.25em 0.25em;
  margin: 1vh;
}

mat-card-title {
  margin-bottom: 0;
  white-space: nowrap;
  align-content: center;
  font-size: clamp(1em, 6vw, 2.6em);
}

mat-card-content {
  margin: 0;
}

mat-card.bot-selection {
  padding: 0;
  margin-top: 5vh;
}

.material-symbols-outlined{
  color: #000000;
  align-content: center;
  font-size: clamp(1.1em, 5vw, 2em);
}

.material-symbols-outlined.not-inside-button{
  padding: 0.5em;
  color: #000000
}

.speaker-button {
  background-color: transparent;
  border-radius: 1.5rem;
  font-size: inherit;
}

button {
  background-color: transparent;
  min-width: 0;
  align-content: center;
}

.hide-icon{
  visibility: hidden;
}
