img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  max-width: 100%;
}
app-menu-header {
  height: 24vh;
}
div.container{
  background-color: #F1F2F2;
  height: 76vh;
}

mat-card {
  margin: 1rem;
  padding: 0.25rem;
  border-radius: 1.5rem;
  background-color: #96bee4;
  cursor: pointer;
  width: 41.65vw;
  max-width:648px;
  max-height: 50vh;
}

mat-card-title {
  padding: 1rem;
  margin-bottom: 0;
}

mat-card-content {
  margin: 0;
}

mat-card.bot-selection {
  padding: 0;
}

.material-symbols-outlined{
  color: #1C5475;
  font-size: xxx-large;
  align-content: center;
}

.speaker-button {
  background-color: transparent;
  border-radius: 1.5rem;
  padding: 1rem;
}

button {
  background-color: transparent;
  padding: 0;
}
