<div class="background container-fluid">
  <app-menu-header class="row"></app-menu-header>

  <div class="row justify-content-center align-items-center">
    <span class="title" *ngIf="chatBots">{{chatBots[carousel.index].name}}</span>
    <button (click)="textToSpeechService.toggleSpeaking(chatBots[carousel.index].name);"
            aria-label="Text vorlesen"
            class="speaker-button">
      <mat-icon class="title-icon" fontSet="material-symbols-outlined" inline="true">text_to_speech</mat-icon>
    </button>
  </div>
<div class="row justify-content-center">
  <div class="menu">
    <app-carousel #carousel></app-carousel>
    <div class="sub-menu">
      <mat-card appearance="outlined" class="row justify-content-between align-items-center mb-2 ms-0" routerLink="/settings">
          <mat-icon fontSet="material-symbols-outlined" inline="true" class="p-0 col-auto">settings</mat-icon>
          <h1 class="p-0 mt-2 mt-md-3 col-auto">Einstellungen</h1>
          <button (click)="textToSpeechService.toggleSpeaking('Einstellungen'); $event.stopPropagation()"
                  aria-label="Text vorlesen"
                  class="speaker-button mt-2 col-auto">
            <mat-icon fontSet="material-symbols-outlined" inline="true">text_to_speech</mat-icon>
          </button>
      </mat-card>

      <mat-card appearance="outlined" class="row justify-content-between align-items-center m-0" routerLink="/info">
        <mat-icon fontSet="material-symbols-outlined" inline="true" class="p-0 col-auto">info</mat-icon>
        <h1 class="p-0 mt-2 mt-md-3 col-auto">Über diese App</h1>
        <button (click)="textToSpeechService.toggleSpeaking('Über diese App'); $event.stopPropagation()"
                aria-label="Text vorlesen"
                class="speaker-button mt-2 col-auto">
          <mat-icon fontSet="material-symbols-outlined" inline="true">text_to_speech</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>
</div>


