<div class="container" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <app-menu-header></app-menu-header>
  <div class="navigation-wrapper" fxLayoutAlign="end center" fxFlexAlign="center center">
    <div class="keen-slider keen-slider--vertical" #sliderRef >
        <img *ngFor="let bot of chatBots" class="keen-slider__slide" alt="" src="{{bot.imageUrl}}" [routerLink]="['/chat/', bot.id]">
      <span>hallo</span>
    </div>
    <mat-icon class="material-symbols-outlined arrow arrow--left"
              (click)="slider.prev()">arrow_back_ios</mat-icon>
    <mat-icon class="material-symbols-outlined arrow arrow--right"
              (click)="slider.next()">arrow_forward_ios</mat-icon>
  </div>
  <div class="dots">
    <button
      (click)="slider.moveToIdx(i)"
      *ngFor="let slide of dotHelper; let i = index"
      [class]="'dot ' + (i === currentSlide ? 'active' : '')"
    ></button>
  </div>
  <div class="sub-menu" fxLayout="column" fxLayoutAlign="end center">
    <mat-card class="sub-menu" routerLink="/settings">
      <div class="sub-title" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="material-symbols-outlined not-inside-button">settings</span>
        <mat-card-title>Einstellungen</mat-card-title>
        <button aria-label="speak message" class="speaker-button" color="accent" (click)="textToSpeechService.toggleSpeaking('Einstellungen'); $event.stopPropagation()" mat-flat-button><span class="material-symbols-outlined">text_to_speech</span></button>
      </div>
    </mat-card>
    <mat-card class="sub-menu" routerLink="/info">
      <div class="sub-title" fxLayout="row" fxLayoutAlign="space-between center">
        <span class="material-symbols-outlined not-inside-button">info</span>
        <mat-card-title>Über diese App</mat-card-title>
        <button aria-label="speak message" class="speaker-button" color="accent" (click)="textToSpeechService.toggleSpeaking('Über diese App'); $event.stopPropagation()" mat-flat-button><span class="material-symbols-outlined">text_to_speech</span></button>
      </div>
    </mat-card>
  </div>
</div>



