.message {
  background-color: #F1F2F2;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  max-width: 70vw;
}

.message img {
  width: 100%;
  max-height: 50vh;
}

.message-inner{
  border-radius: 1.15rem;
  padding: 0.5rem .875rem;
}

.message span.message-style::before,
.message span.message-style::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.message span.message-style {
  align-items: flex-start;
  background-color: #FFFFFF;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
  height: fit-content;
  width: fit-content;
  position: relative;
  line-height: 1.25;
}

.message span.message-style:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #FFFFFF;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.message span.message-style::after {
  background-color: #F1F2F2;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}


button.selector-button {
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #96bee4;
  padding-right: 0;
  color: #000000;
  box-shadow: none;
}

button.selector-button[disabled] {
  background-color: #E7F0F8;
}

button.speaker-button{
  box-shadow: none;
  background: #96bee4;
  border-radius: 24px;
  height: 48px;
  width: 48px;
  min-width: 48px;
  padding: 0;
  margin: 0.5rem;
}

button.speaker-button-for-button {
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #96bee4;
  margin-bottom: 5px;
  box-shadow: none;
}

button.speaker-button-for-button[disabled] {
  background-color: #E7F0F8;
}

.material-symbols-outlined{
  color: #000000;
  background-color: #96bee4;
  padding: 0;
  height: 24px;
  width: 24px;
}

.material-symbols-outlined.disabled{
  background-color: #E7F0F8;
  color: #73787D;
}


// Use if device is in landscape mode
@media (orientation: landscape) and (max-width: 768px) {
  .message img {
    width: auto;
    max-height: 50vw;
  }
}
