.mat-form-field-wrapper {
  padding: 8px;
}

.alfa-input-area-div {
  max-width: 768px !important;
}

.alfa-input-area-form button {
  background: #f8ab41;
  color: white;
}

.alfa-input-area-form  {
  background: #f8ab41;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  border-top: 1px solid #f5912a;
}

.alfa-input-area-form label.mat-form-field-label{
  /*change color of label*/
  color: white !important;
}

.alfa-input-area-form div.mat-form-field-outline {
  /*change color of outline*/
  color: white !important;
}

.alfa-input-area-form input.mat-input-element {
  /*change color of text*/
  color: white !important;
  caret-color: white !important;
}
@media only screen and (max-width: 768px) {
  .alfa-input-area-form {
    padding-bottom: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.1rem;
  }
}



