<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="alfa-input-area-form" autocomplete="off">
  <div class="alfa-input-area-div" fxLayoutAlign="start center" fxLayoutGap="8px">
    <mat-form-field fxFlex="grow" floatLabel="always" appearance="outline" hideRequiredMarker>
      <mat-label>Gib eine Nachricht ein...</mat-label>
      <input type="text" name="message" ngModel matInput spellcheck="false" required>
    </mat-form-field>
    <button aria-label="send" [disabled]="form.invalid" mat-flat-button type="submit"><mat-icon>send</mat-icon></button>
  </div>
</form>


