<form #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
  <div>
    <mat-form-field appearance="outline" class="flex-grow-1" floatLabel="always" hideRequiredMarker
                    subscriptSizing="dynamic">
      <input matInput name="message" ngModel placeholder="Schreib mir etwas..." spellcheck="false" type="text">
    </mat-form-field>
    <button aria-label="send" mat-flat-button type="submit">
      <mat-icon fontSet="material-symbols-outlined">send</mat-icon>
    </button>
  </div>
</form>


