mat-card {
  background-color: #A1D2C3;
  z-index: 2;
  border-radius: 9px;
  color: #000000;
}

.message {
  background-color: #F1F2F2;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  max-width: 80vw;
}

.message p {
  border-radius: 1.15rem;
  line-height: 1.25;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.message p::before,
.message p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

p.from-user {
  align-self: flex-end;
  background-color: #A1D2C3;
  color: #000000;
  font-size: clamp(0.8em, 2vw, 1.2em);
  margin: 0;
}

p.from-user::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #A1D2C3;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.from-user::after {
  background-color: #F1F2F2;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}
