<div class="message" [ngSwitch]="determineType(this.botResponse)">
  <p class="from-bot">
    <ng-template ngSwitchCase="{{BOT_RESPONSE_TYPE_ENUM.TEXT}}">
      <markdown [data]="this.botResponse.message"></markdown>
    </ng-template>

    <ng-template ngSwitchCase="{{BOT_RESPONSE_TYPE_ENUM.BUTTONS}}">
      <button mat-raised-button *ngFor="let button of botResponse.buttons" (click)="onButtonClick(button)">{{button.title}}</button>
    </ng-template>

    <ng-template ngSwitchCase="{{BOT_RESPONSE_TYPE_ENUM.BUTTONS_AND_TEXT}}">
      <markdown [data]="this.botResponse.message"></markdown>
      <button mat-raised-button *ngFor="let button of botResponse.buttons" (click)="onButtonClick(button)">{{button.title}}</button>
    </ng-template>

    <ng-template ngSwitchCase="{{BOT_RESPONSE_TYPE_ENUM.IMAGE}}">
      <img (loaded)="onImageLoad()" [src]="botResponse.imageUrl">
    </ng-template>
  </p>
</div>


