h1 {
  white-space: nowrap;
}
// media queries for h1
@media all and (min-width: 50px)   { h1  { font-size:0.7em;  } }
@media all and (min-width: 170px)   { h1  { font-size:0.8em;  } }
@media all and (min-width: 200px)   { h1  { font-size:0.9em;  } }
@media all and (min-width: 240px)  { h1  { font-size:1.1em;  } }
@media all and (min-width: 260px)  { h1  { font-size:1.2em;  } }
@media all and (min-width: 300px)  { h1  { font-size:1.4em;  } }
@media all and (min-width: 400px)  { h1  { font-size:1.6em;  } }
@media all and (min-width: 500px)  { h1  { font-size:1.8em;  } }
@media all and (min-width: 600px)  { h1  { font-size:2.2em;  } }
@media all and (min-width: 700px)  { h1  { font-size:2.4em;  } }
@media all and (min-width: 800px)  { h1  { font-size:2.6em;  } }
@media all and (min-width: 900px)  { h1  { font-size:2.8em;  } }
@media all and (min-width: 1000px) { h1  { font-size:3.0em;  } }
@media all and (min-width: 1100px) { h1  { font-size:3.2em;  } }
@media all and (min-width: 1200px) { h1  { font-size:3.4em;  } }
@media all and (min-width: 1300px) { h1  { font-size:3.6em;  } }
@media all and (min-width: 1400px) { h1  { font-size:3.8em;  } }
@media all and (min-width: 1500px) { h1  { font-size:3.9em;  } }
@media all and (min-width: 1600px) { h1  { font-size:4.0em;  } }
@media all and (min-width: 1700px) { h1  { font-size:4.1em;  } }

div {
  padding-top: env(safe-area-inset-top);
  background: #F1F2F2 !important;
  max-width: 100vw;
}

img {
  height: 10vh;
}

h1 {
  padding: 2vmin 0.2em;
  height: fit-content;
  width: available;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;

}
