/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "SemikolonPlus", Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "SemikolonPlus";
  src: local("SemikolonPlus"), url("assets/fonts/SemikolonPlus.ttf") format("ttf");
}

// Override Material-UI's default mat-input styles

.mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

.mat-form-field-outline {
  /*change color of outline*/
  color: white !important;
}

input.mat-input-element {
  /*change color of text*/
  color: white !important;
}


