/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: "SemikolonPlus", "Roboto", "Helvetica Neue", sans-serif;
}

//Color Palette WIP
$controls: #1C5475;
$quick-reply-active: #96bee4;
$quick-reply-inactive: #E7F0F8;
$user-message: #A1D2C3;
$bot-message: #FFFFFF;
$chat-background: #F1F2F2;
$text: #000000;
$standard-background: #FFFFFF;

@import "bootstrap/scss/bootstrap";

//Custom Bootstrap Overrides

// Font Size for Page Titles
.fs-0 {
  font-size: calc(1.71875rem + 1.875vw);
  line-height: calc(1.71875rem + 1.875vw);
}

@media screen and (min-width: 1200px) {
  .fs-0 {
    font-size: 3.125rem !important;
    line-height: 3.125rem !important;
  }
}
