<div #messageList class="message-list">
  <ul class="chat">
    <li *ngFor="let message of messages"
        [ngClass]="determineMessageType(message)===MESSAGE_TYPE_ENUM.USER?'user-message':'bot-response'"
        [ngSwitch]="determineMessageType(message)">
      <ng-template [ngSwitchCase]="MESSAGE_TYPE_ENUM.BOT">
        <app-bot-response [message]="message"></app-bot-response>
      </ng-template>

      <ng-template [ngSwitchCase]="MESSAGE_TYPE_ENUM.USER">
        <app-user-message [message]="message"></app-user-message>
      </ng-template>
    </li>
  </ul>
</div>

